<!--
  Generated template for the RestaurantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="kollere">
    <button ion-button="" menuToggle="">
      <ion-icon name="menu"></ion-icon>

    </button>
    <ion-title>Kollere School</ion-title>
    <ion-buttons end="" >
      <button *ngIf="!user" ion-button icon-end style="text-transform: none" (click)="pending()">
       <span >J'ai une carte
        <ion-icon name="md-log-in"></ion-icon>
       </span>
      </button>
      <button *ngIf="user" ion-button icon-end style="text-transform: none" (click)="useroptions($event)">
      <span >{{ user.nom }}
        <ion-icon name="md-more"></ion-icon>
       </span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <ion-list>


    <form class="list form" [formGroup]="client" >
      <fieldset>
        <ion-item *ngIf="ecoles">
          <ion-label floating="" style="color: #999900;font-weight: bold">Choisir une école</ion-label>
          <ion-select formControlName="ecole" icon-left (ionChange)="changementecole()" interface="popover">
            <ion-option value="{{ ecole }}" *ngFor="let ecole of ecoles;">{{ ecole }}</ion-option>
          </ion-select>
        </ion-item>
        <span *ngIf="client.controls.ecole.valid">
          <ion-item>
            <ion-label style="color: #999900;font-weight: bold">Propose les familles suivantes : </ion-label>
          </ion-item>
          <ion-item *ngFor="let famille of familles; let i = index" detail-push (click)="verscommande(famille)">
          <ion-avatar item-start>
            <img src="assets/imgs/{{ famille }}.jpg" onerror="this.src='assets/imgs/KOLLERE.jpg';">
          </ion-avatar>
          <h2 style="color: #999900">{{famille}}</h2>

        </ion-item>
        </span>

     <!--   <ion-item *ngIf="client.controls.ecole.valid">
          <ion-label floating="">Choisir une une famille</ion-label>
          <ion-select formControlName="famille" icon-left (ionChange)="changementfamille()" interface="popover">
            <ion-option value="{{ famille }}" *ngFor="let famille of familles;">{{ famille }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="client.controls.famille.valid">
          <ion-label floating="">Choisir un produit</ion-label>
          <ion-select formControlName="item" icon-left (ionChange)="changementproduit()" interface="popover">
            <ion-option value="{{ item }}" *ngFor="let item of items;">{{ item }}</ion-option>
          </ion-select>
        </ion-item>

        <span *ngIf="client.controls.item.valid">
          <ion-item>
          <ion-label color="kollere" floating>Prix {{ client.controls['ecole'].value }}</ion-label>
            <ion-input icon-left="" type="text" formControlName="prixboutique" readonly></ion-input>
          </ion-item>
         <ion-item>
          <ion-label color="kollere" floating>Prix Kollere</ion-label>
           <ion-input icon-left="" type="text" formControlName="prixkollere" readonly></ion-input>
        </ion-item>
        </span>
        <ion-item no-lines>
          <button item-end round ion-button icon-start color="danger" (click)="goback()">
            <ion-icon name="close"></ion-icon>
            Annuler
          </button>
          <button item-end round ion-button (click)="sendCommande()" icon-start
                  [disabled]="!client.valid " color="kollere">
            <ion-icon name="cart"></ion-icon>
            Commander
          </button>
        </ion-item>-->
      </fieldset>
    </form>
  </ion-list>
</ion-content>
