page-panier {
  .diviseur{
    border-radius: 20px;
    background-color: #999900;
    color: white;
    text-align: center;
  }
  fieldset{border-radius:11px;margin-top: 10px;border-color:#999900}

}
